#
# pip install -r requirements.txt -i https://mirrors.aliyun.com/pypi/simple
#
langchain==1.2.10
langgraph
langchain_community==0.4.1
langchain_openai==1.1.10
langchain-mcp-adapters==0.2.1

dotenv==0.9.9
openai==2.24.0
fastmcp

# ZhipuAI需要 pip uninstall jwt 然后安装 PyJWT
PyJWT==2.11.0

# 向量化
torch==2.10.0
faiss-cpu
chromadb==1.5.2

langchain-huggingface
sentence-transformers

# Markdown解析器
unstructured[local-inference]

# PDF中的图像或复杂的布局
unstructured[pdf]

# TTS文本转音频
pyttsx3
